@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  /* place-content: center; */
  color: #ede0d4;
  background-color: #ddb892;
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
}
header {
  margin: 4%;
}
article {
  display: grid;
  justify-content: center;
  position: relative;
  top: 150px;
  font-size: 3rem;
  margin: 5%;
  font-style: italic;
}
a {
  color: #9c6644;
}
